<h1>Users#edit</h1>

<%= form_for @user do |f| %>
	<%= f.label	:User_name %> <br />
	<%= f.text_field :user_name %><br />
	
	<%= f.label :User_password %><br /><br />
	<%= f.text_field :user_password %><br />
	
	<%= f.label :Usertype_Id %><br /><br />
	<%= f.text_field :userType_id %><br />
	
	<%= f.submit 'Update UserType' %>
<% end %>