<h1>Resources#new</h1>
<%= form_for @resource do |f| %>
	<%= f.label	:Resource_name %> <br />
	<%= f.text_field :resource_name %><br />
	
	<%= f.label :Resource_type %><br /><br />
	<%= f.text_field :resource_type %><br />
	
	<%= f.label :Description %><br /><br />
	<%= f.text_field :description %><br />
	
	<%= f.label :User_Id %><br /><br />
	<%= f.text_field :user_id %><br />
	
	<%= f.submit 'Create Resource' %>
<% end %>